<h1>All my listings</h1>
 
 <div style = "text-align:center">
    <% @listings.each do |listing| %>
        <div class = 'd-inline-block'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= listing.accommodation_name %></h5>
                    <h5 class="card-title"><%= listing.accommodation_type %></h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%= listing.price_per_night %> per night</li>
                    </ul>
                </div>
            </div>
        </div>
    <% end %>
</div>
