<h1>All listings</h1>

<%= form_with scope: @listing, url:listings_path, method: :get, class:'form-inline my-2 my-lg-0' , remote: true do |form| %>
          <%= form.text_field :omnisearch, class: "form-control mr-sm-2" %>
          <%= form.submit "search", class:"btn btn-outline-success my-2 my-sm-0" %>
<% end %>

<br/>

<div id="search-results" > 
    <%= render partial: '/listings/search-results' %>
</div>
